version: 2
updates:
{% set ecosystem = {"python": "pip", "javascript": "npm", "typescript": "npm", "go": "gomod", "rust": "cargo"}.get(language, "pip") %}
  - package-ecosystem: {{ ecosystem }}
    directory: "/"
    schedule:
      interval: weekly
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly