[![CI](https://github.com/{{ fork_full }}/actions/workflows/ci.yml/badge.svg)](https://github.com/{{ fork_full }}/actions)
[![CodeQL](https://github.com/{{ fork_full }}/actions/workflows/codeql.yml/badge.svg)](https://github.com/{{ fork_full }}/security/code-scanning)
[![Dependabot](https://img.shields.io/badge/dependabot-enabled-blue)](.github/dependabot.yml)